.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  gap: 30px;
  background-color: #1c1a1a;

  &__input {
    height: 30px;
    width: 200px;
    color: white;

    &::placeholder {
      color: white;
    }
  }
}