.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  width: 100%;
  background-color: #1c1a1a;

  &__block {
    display: flex;
    gap: 30px;
  }

  &__input {
    height: 30px;
    width: 200px;
    color: white;

    &::placeholder {
      color: white;
    }
  }

  &__current {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    color: white;
  }

  &__link {
    color: white;
  }
}
